.characterEditor {
  padding-top: 32px;
  padding-bottom: 64px;

  @media screen and (min-width: 768px) {
    padding-top: 128px;
  }
}

.maxWidthWrapper {
  position: relative;
}

.perspectiveBg {
  position: fixed;
  bottom: 0;
  height: 40%;
  width: 100%;
  background-color: hsl(195deg 20% 86%);
}

.header {
  padding-bottom: 240px;

  @media screen and (min-width: 768px) {
    padding-bottom: 64px;
    max-width: 65%;
  }
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 16px;
  letter-spacing: -0.5px;
}

.description {
  font-size: 1.25rem;
  margin: 0;
}

.characterWrapper {
  position: absolute;
  min-height: 500px;
  top: 300px;
  left: 20%;
  right: 0;

  @media screen and (min-width: 768px) {
    position: fixed;
    top: 80px;
    left: 65%;
    bottom: 160px;
    right: 0;
  }
}

.controlColumn {
  display: flex;
  overflow: auto;
  gap: 16px;

  @media screen and (min-width: 768px) {
    max-width: 50%;
    flex-direction: column;
  }
}

.controlColumn::-webkit-scrollbar {
  display: none;
}
